        </body>
        <footer class="foot">
            <p>Created by Ricardo Núñez</p>
            <p>Copyright © <%= new Date().getFullYear() %></p>
        </footer>
    </div>  
    <script src="main.js"></script>
</html>