<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css" />
    <title>ToDo List</title>
  </head>
  <div class="container">
    <header class="tasks_options">
      <a href="/"><img id="calendar" src="images/calendario.png" alt="calendar"> Day's Tasks</a>
      <a href="/work"><img id="work" src="images/empleado.png" alt="work">Work Tasks</a>
    </header>
    <body>
</html>
